/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
body {
  margin: 0;
}

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #333;
}

/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/

img.logo {
  width: 10rem;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  color: #000;
}

.sections {
  display: none;
}

nav .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .icons img {
  padding: 1rem;
  border: 0.1rem solid rgba(128, 128, 128, 0.178);
}

header .yellow-ad {
  font-size: 1.1rem;
  background: rgba(255, 217, 0, 0.733);
  height: 5rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 0 1rem;
}

section.cover {
  min-height: 25rem;
  border-right: white solid 1rem;
  border-left: white solid 1rem;
  padding-bottom: 3rem;
}

article.cover-story {
  min-height: 14rem;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.cover-header {
  font-size: 1.2rem;
  color: white;
  padding: 0 1rem;
}

.cover-byline {
  display: flex;
  font-size: 1.1rem;
  list-style: none;
  padding: 1rem 0;
}

.cover-byline li {
  padding: 0 1rem;
}

.cover-byline li i {
  padding: 0 0.3rem;
}

section.funding {
  padding: 1rem;
}

section.funding h2 {
  display: flex;
  justify-content: flex-start;
  color: #f42;
  font-weight: bold;
}

section.funding nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 7rem;
  color: #f42;
  padding: 1.3rem 0;
}

section.funding nav ul span {
  display: none;
  padding: 0 0.7rem;
}

.cards {
  display: flex;
  flex-direction: column;
}

.card {
  flex-direction: column;
  padding-bottom: 2rem;
}

.title-top {
  background: #f42;
  color: white;
  padding: 1rem;
}

.title-bottom {
  background: rgba(243, 167, 148, 0.568);
  color: white;
  padding: 1rem;
}

.title-top .funding-card-name {
  color: white;
}

.title-bottom .funding-card-capital {
  color: rgb(3, 3, 3);
}

.card .title-wrapper {
  display: flex;
}

.card img {
  width: 3rem;
  height: 3rem;
}

.card .title {
  width: 90vw;
}

.card h5 {
  text-transform: uppercase;
  color: rgb(116, 116, 116);
  font-size: 0.7rem;
}

.card .categories {
  padding: 1rem;
}

.card .category {
  font-size: 1rem;
  padding: 0.5rem 0;
  display: flex;
}

.card .category i {
  padding: 0 0.5rem;
}

p.description {
  border-top: orange solid 0.1rem;
  padding: 1rem 0;
  font-size: 0.9rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer nav {
  min-width: 100vw;
  min-height: 7vh;
  background: rgb(20, 20, 20);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer nav.social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

footer nav.social ul li {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background: rgb(58, 58, 58);
  border-radius: 50%;
}

footer nav.social ul li i {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

footer nav.links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

footer nav.links ul li {
  font-size: 0.8rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

footer nav.links ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.copyright img {
  width: 3rem;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  color: white;
  background: black;
  font-size: 0.65rem;
}

.copyright a {
  text-decoration: none;
  color: white;
  padding-left: 0.2rem;
  font-weight: bold;
}
