/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
body {
  margin: 0;
}

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #333;
}

/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/

html {
  font-size: 62.5%;
}

header {
  min-height: 15%;
}

body {
  min-height: 85%;
}

img.logo {
  width: 10rem;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: white;
  min-height: 7rem;
  z-index: 1;
  margin-top: 0;
}

header nav ul li {
  color: #000;
}

.sections {
  display: none;
}

nav.main-menu {
  display: none;
}

nav.main-menu ul {
  display: none;
}

nav .icons {
  display: flex;
  justify-content: space-between;
}

.copyright img {
  width: 3rem;
}

.card img {
  width: 5rem;
  height: 5rem;
  position: absolute;
  margin: 1rem 0 0 0.5rem;
}

nav .icons img {
  padding: 1rem;
  border: 0.1rem solid rgba(128, 128, 128, 0.178);
}

.yellow-ad {
  font-size: 1.1rem;
  background: rgb(255, 217, 0);
  min-height: 5rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 0 1rem;
  min-width: 100%;
  position: fixed;
  margin-top: 4.6rem;
  z-index: 1;
}

section.cover {
  min-height: 25rem;
  border-right: white solid 1rem;
  border-left: white solid 1rem;
  padding-bottom: 3rem;
  margin-top: 10rem;
}

article.story-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
    url("./images/Opal-796x417.jpg");
}

article.story-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
    url("./images/Untitled-design-2021-01-26T112752.972-796x417.png");
}

article.story-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
    url("./images/Gemini2-duplicates-monitor-alert-e1611566958933-796x420.png");
}

.embedded-image {
  display: none;
}

article.cover-story {
  min-height: 14rem;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.cover-header {
  font-size: 1.2rem;
  color: white;
  padding: 0 1rem;
}

.cover-byline {
  display: flex;
  font-size: 1.1rem;
  list-style: none;
  padding: 1rem 0;
}

.cover-byline li {
  padding: 0 1rem;
}

.cover-byline li i {
  padding: 0 0.3rem;
}

section.funding {
  padding: 1rem;
}

section.funding h2 {
  display: flex;
  justify-content: flex-start;
  color: #f42;
  font-weight: bold;
}

section.funding nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 7rem;
  color: #f42;
  padding: 1.3rem 0;
}

section.funding nav ul span {
  display: none;
  padding: 0 0.7rem;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  background: rgba(228, 178, 174, 0.3);
}

.title-top {
  font-size: 1.7rem;
  background: #f42;
  color: white;
  padding: 1rem;
}

.title-bottom {
  font-size: 1.7rem;
  background: rgba(243, 167, 148, 0.568);
  color: white;
  padding: 1rem;
}

.title-top .funding-card-name {
  color: white;
  margin-left: 50px;
}

.title-bottom .funding-card-capital {
  color: rgb(3, 3, 3);
  margin-left: 50px;
}

.card .title-wrapper {
  display: flex;
}

.card .title {
  width: 100vw;
}

.card h5 {
  text-transform: uppercase;
  color: rgb(116, 116, 116);
  font-size: 1rem;
  margin-left: 50px;
}

.card .categories {
  padding: 1rem;
}

.card .category {
  font-size: 1.2rem;
  padding: 0.5rem 0;
  display: flex;
  justify-content: flex-start;
}

footer nav.social ul li i {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

.card .category i {
  padding: 0 0.5rem;
}

.description p {
  border-top: orange solid 0.1rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer nav {
  min-width: 100vw;
  min-height: 7vh;
  background: rgb(20, 20, 20);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer nav.social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

footer nav.social ul li {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background: rgb(58, 58, 58);
  border-radius: 50%;
}

footer nav.links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.copyright a {
  text-decoration: none;
  color: white;
  padding-left: 0.2rem;
  font-weight: bold;
}

footer nav.links ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  color: white;
  background: black;
  font-size: 0.65rem;
}

@media screen and (min-width: 767px) {
  img.logo {
    display: none;
  }

  img.mobile-menu {
    display: none;
  }

  nav.main-menu {
    visibility: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    z-index: 2;
    margin: 0;
    min-height: 3rem;
    position: fixed;
  }

  nav.main-menu ul {
    visibility: visible;
    display: flex;
    background: black;
    z-index: 0;
    margin: 0;
    min-height: rem;
    padding: 0 2rem;
  }

  nav.main-menu ul li {
    padding-right: 1rem;
  }

  header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background: white;
    min-height: 7rem;
    z-index: 1;
    margin-top: 2rem;
  }

  .yellow-ad {
    margin-top: 8rem;
  }

  section.cover {
    margin-top: 13rem;
  }

  .sections {
    width: 100%;
    display: flex;
  }

  .sections ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
  }

  .sections ul li a {
    font-size: 1.3rem;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(151, 148, 148);
    padding: 0 0.8rem;
  }

  footer nav.social ul li {
    margin: 0.5rem;
    padding: 1rem 1.5rem;
    background: rgb(58, 58, 58);
    border-radius: 50%;
  }

  section.funding nav ul li {
    padding-right: 1rem;
  }

  footer nav.links ul li {
    font-size: 0.8rem;
    margin: 0.5rem;
    padding: 0.5rem;
  }

  .sections ul li:nth-child(n + 6) {
    display: none;
  }

  header .yellow-ad {
    justify-content: center;
  }

  section.cover {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 50%;
  }

  section article.cover-story:nth-child(1) {
    border-right: 0.9rem solid white;
    grid-row: 1/3;
  }

  section article.cover-story:nth-child(1) header h2 {
    font-size: 3rem;
  }

  /* hide share icon for smaller covers */
  section article.cover-story:nth-child(n + 2) header ul li:nth-child(n + 3) {
    display: none;
  }

  section.funding nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 7rem;
    padding: 1.3rem 0;
  }

  .cards {
    flex-direction: row;
  }

  .card {
    align-items: center;
  }

  .card .title-wrapper,
  .card .body-wrapper {
    width: 22.5vw;
  }

  footer nav.social ul li i {
    font-size: 2rem;
    color: rgb(255, 255, 255);
  }

  .copyright {
    font-size: 1rem;
  }

  .copyright img {
    width: 6rem;
  }
}

@media screen and (min-width: 1023px) {
  article.cover-story {
    /* background: url("./images/cover-gradient.webp"); */
  }

  article.story-1 {
    background: linear-gradient(rgba(255, 0, 0, 0.5), rgba(0, 0, 0, 1)),
      url("./images/Opal-796x417.jpg");
  }

  .embedded-image {
    display: flex;
    position: absolute;
    margin-bottom: 22rem;
    margin-left: 1.5rem;
  }

  .embedded-image img {
    width: 30rem;
  }

  footer nav {
    padding-top: 5rem;
  }

  footer nav.social ul li i {
    font-size: 4rem;
    color: rgb(255, 255, 255);
  }

  .copyright {
    font-size: 2rem;
  }

  .copyright img {
    width: 8rem;
  }
}
